[submodule "lib/Redbox.HAL.Configuration"]
	path = lib/Redbox.HAL.Configuration
	url = https://github.com/redbox-automated-retail-llc/Redbox.HAL.Configuration
[submodule "lib/Redbox.HAL.Component.Model"]
	path = lib/Redbox.HAL.Component.Model
	url = https://github.com/redbox-automated-retail-llc/Redbox.HAL.Component.Model
[submodule "lib/Redbox.HAL.Core"]
	path = lib/Redbox.HAL.Core
	url = https://github.com/redbox-automated-retail-llc/Redbox.HAL.Core
[submodule "lib/Redbox.HAL.Controller.Framework"]
	path = lib/Redbox.HAL.Controller.Framework
	url = https://github.com/redbox-automated-retail-llc/Redbox.HAL.Controller.Framework
